.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: clamp(300px, 100%, 500px);
}

.card {
    aspect-ratio: 1.5 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 5px;
    box-shadow: var(--elevation-medium);
    position: relative;
    transition: box-shadow 0.15s ease-out;
}

.card:hover {
    box-shadow: var(--elevation-high);
}

.card > svg {
    width: 24px;
    height: 24px;
    stroke: var(--foreground-primary);
}
