.container {
    position: relative;
}

.tooltip {
    display: block;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
    border-radius: 5px;
    box-shadow: var(--elevation-high);
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.05rem;
    cursor: initial;
    word-wrap: break-word;
    white-space: nowrap;
    z-index: 10000;
}

.cursorConsistency {
    position: absolute;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
}
