@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --background-primary: #202020;
    --background-secondary: #252525;
    --background-tertiary: #353535;
    --foreground-primary: #ffffff;
    --accent-primary: #4d97ff;
    --accent-secondary: #2871a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next {
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

svg {
    width: 24px;
    height: 24px;
    stroke-width: 1.5;
    stroke: var(--foreground-primary);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
