.timeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 5rem;
}

.time span {
    font-size: 2rem;
    opacity: 0.8;
}

.search {
    margin-top: 2rem;
    position: relative;
}

.search input {
    font-size: 1rem;
    width: clamp(10rem, 100%, 20rem);
    height: 40px;
    padding: 0 3rem 0 1rem;
    outline: none;
    border: none;
    border-radius: 2px;
    user-select: none;
}

.search input:focus {
    outline: 3px solid #2871a280;
    outline-offset: 2px;
}

.searchButton {
    margin-right: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
}

.searchButton > svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke-width: 2;
    stroke: var(--background-primary);
}
